{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; font-size:50px; color: Green;">
    <h1>Welcome To My Life</h1>
    </div>
  </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
      <a href="family">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Family/familymedium.jpg">
          <source media="(max-width: 920px)" srcest="/static/Pictures/Family/familysmall.jpg">
          <img class="animated fadeIn" src="/static/Pictures/Family/familysmall.jpg" alt="Pic of family" style="width:auto;">
        </picture>
      </a>
    </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
      <a href="health">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Health/healthmedium.jpg">
          <source media="(max-width: 920px)" srcest="/static/Pictures/Health/healthsmall.jpg">
          <img class="animated fadeIn" src="/static/Pictures/Health/healthsmall.jpg" alt="Pic of health" style="width:auto;">
        </picture>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
      <a href="nature">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Nature/naturemedium.jpg">
          <source media="(max-width: 920px)" srcest="/static/Pictures/Nature/naturesmall.jpg">
          <img class="animated fadeIn" src="/static/Pictures/Nature/naturesmall.jpg" alt="Pic of nature" style="width:auto;">
        </picture>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
      <a href="music">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Music/musicmedium.jpg">
          <source media="(max-width: 920px)" srcest="/static/Pictures/Music/musicsmall.jpg">
          <img class="animated fadeIn" src="/static/Pictures/Music/musicsmall.jpg" alt="Pic of playing guitar in nature" style="width:auto;">
        </picture>
      </a>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
        <a href="videogames">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Videogames/sonicmedium.png">
          <source media="(min-width: 920px)" srcest="/static/Pictures/Videogames/sonicsmall.png">
          <img class="animated fadeIn" src="/static/Pictures/Videogames/sonicsmall.png" alt="Pic of sonic" style="width:auto;">
        </picture>
      </a>
    </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style= "display:flex; justify-content: center;">
        <a href="learning">
        <picture>
          <source media="(min-width: 960px)" srcset="/static/Pictures/Learning/learningmedium.jpg">
          <source media="(min-width: 920px)" srcest="/static/Pictures/Learning/learningsmall.jpg">
          <img class="animated fadeIn" src="/static/Pictures/Learning/learningsmall.jpg" alt="Pic of learning" style="width:auto;">
        </picture>
      </a>
    </div>
  </div>

</div>                <!-- Closes container tag -->

{% endblock %}
